/* Elements */

body {
    background-color: #36393e !important;
    font-family: 'Josefin Sans', sans-serif !important; 
}

/* Classes */

.FadeInOut_WP1 {
    animation-name: slidefromleft;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.FadeInOut_WP2 {
    animation-name: appear;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.pic {
    width: 100%;
}

.area {
    margin-left: 10%;
    margin-right: 10%;
}

.skyblue {
    color: skyblue;
}

.magenta {
    color: magenta;
}

.springgreen {
    color: springgreen;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
    grid-template-areas:
        "a a a a b b b b"
        "a a a a b b b b"
        "a a a a b b b b"
        "c c c c d d d d"
        "c c c c d d d d"
        "c c c c d d d d"
        "e e e e f f f f"
        "e e e e f f f f"
        "e e e e f f f f"
        "g g g g h h h h"
        "g g g g h h h h"
        "g g g g h h h h"
        "i i i i j j j j"
        "i i i i j j j j"
        "i i i i j j j j";
}
.item1 {
    grid-area: a;
    justify-self: center;   
}
.item2 {
    grid-area: b;
    justify-self: center;
}
.item3 {
    grid-area: c;
    justify-self: center;
}
.item4 {
    grid-area: d;
    justify-self: center;
}
.item5 {
    grid-area: e;
    justify-self: center;
}
.item6 {
    grid-area: f;
    justify-self: center;
}
.item7 {
    grid-area: g;
    justify-self: center;
}
.item8 {
    grid-area: h;
    justify-self: center;
}

.center {
    text-align: center;
}

/* Advanced Classes */

h1.welcome {
    text-align: center;
    margin: auto;
    margin-top: 20%;
    font-size: 60px;
}

h1.preintro {
    text-align: center;
    font-size: 45px;
}

h1.intro {
    font-size: 45px;
}

p.textarea {
    font-size: 25px;
    float: left;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.info {
    float: right;
    height: 200px;
    width: auto;
    position: relative;
    justify-content: center;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    width: 85%;
  }

/* Animations */

@keyframes slidefromleft {
    from {
        opacity: 0%;
        transform: translateX(-500px);
    }
    to {
        opacity: 100%;
        transform: translateX(0px);
    }
}

@keyframes appear {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}